.nav {
    padding: 20px;
    background-color: var(--main-bg-color);
}

.link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 3px 0;
}

.link:hover {
    text-decoration: underline;
}

.activeLink {
    color: #000;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
