
.header {
    grid-area: header;
    padding: 10px;
    background-color: var(--main-bg-color);
    margin-bottom: 10px;
    max-width: 1170px;
    margin: 0 auto 10px auto;
}

.container {

}

.logo {
    width: auto;
    height: 40px;
}
