
.wrapper {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
}
.banner {
    margin-bottom: 10px;
    max-width: 100%;

}
.avatar {
    display: inline-block;
    margin-right: 20px;
}

.info {
    display: inline-block;
}
